  <!--상단네비-->
  <nav class="navbar navbar-inverse navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">MOBIG</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <!--로그인호출-->
        <%if(session.user_id == null || session.user_id == ""){%>
          <a class="btn navbar-btn btn-secondary mx-3" href="#download" data-toggle="modal" data-target="#myModal">Sign in</a>
        <% } else { %>
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" href="/mvno/mvnomain">MVNO data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:alert('준비중');">ETC data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/myaccount">My account</a>
            </li>
          </ul>
          <div align="center">
            <%=session.user_name%>님 <a class="btn navbar-btn btn-secondary mx-3" href="/logout">Sign out</a>
          </div>
        <% } %>
      </div>
    </div>
  </nav>
  
  <!--로그인 Modal-->
  <div class="modal fade" id="myModal" role="dialog" style="text-align:left">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">×</button>
          <h4 class="modal-title">Sign in</h4>
        </div>
        <div class="modal-body">

          <form class="" name="loginForm" action="/login" method="post">
            <div class="form-group"> <label class="">User ID</label>
              <input type="text" name="user_name" class="form-control" placeholder="이름" value="황지희"> </div>
            <div class="form-group"> <label>Password</label>
              <input type="password" name="emp_num" class="form-control" placeholder="사번" value="05173"> </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          
        </div>
        <div class="modal-footer">Contact to us_<a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>  