<h2 class="ui brown image header" style="margin-bottom:30px !important"> 
    <div class="content" style="background-color:#FBBD08">
        <img class="ui medium image" src="https://b2bhappy.herokuapp.com/images/gnblogo.png">
    </div>
</h2>