<!DOCTYPE html>
<html>
<head>
  
<title>happy app</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<script type="text/javascript">
  
  var startdate = '';
  var starttime = '';
  var ddaydate = '';
  
function modalClose(){
  $('.ui.modal').modal('hide');
};

$(document).ready(function() {

  // 등록모달 show
  $("#HappyDayRegist").click(function(){
      $('.ui.modal.Regist').modal('show');
      $('#happyday_name_alert').hide()   //열었을때 일단 hide
      $('#category_code_alert').hide()
      $('#num_participants_alert').hide()
      $('#place_name_alert').hide()
      $('#startday_alert').hide()
      $('#starttime_alert').hide()
       $('#dday_dt_alert').hide()
       $('#dday_dt_alert2').hide() 
       
      $('#req_point_alert').hide()
      $('#req_point_alert2').hide()
      $('#point_rsn_alert').hide()
       $('#happyday_contents_alert').hide()
      
  });
  
    // 등록 모달에서 submit 하기 전에 해야 될 사항 ->히든타입, db에만 저장
  $('#hdregmodal').submit(function() {
    
    $('#starthappyday').val(startdate+starttime); //날짜 합치기
    
    var happyday_name = $("#happyday_name").val(); //해피데이 네임
    var category_code = $("#category_code").val();
    var num_participants = $("#num_participants").val();
    
    var place_name = $("#place_name").val();
    var req_point = $("#req_point").val();     //해피데이 등록에 필요한 포인트
    var my_point = <%=session.happy_point %>   //보유한 해피데이 포인트
    var point_rsn = $("#point_rsn").val()
    var happyday_contents = $("#happyday_contents").val()
    
    
    var flag = 1;
    
     $('#req_point_alert').hide()
      $('#req_point_alert2').hide()
    
    // 해피데이 이름 check
    if(happyday_name == ''){
      $('#happyday_name_alert').show()
      flag = 0;
    }
    else{
      $('#happyday_name_alert').hide()
      flag = 1;
    }
    
    // 카테고리 check
    if(category_code == ''){
      $('#category_code_alert').show()
      flag = 0;
    }
    else{
      $('#category_code_alert').hide()
      flag = 1;
    }
    
    // 맴버수 check
    if(num_participants == ''){
      $('#num_participants_alert').show()
      flag = 0;
    }
    else{
      $('#num_participants_alert').hide()
      flag = 1;
    } 
    
     // 장소 check  
    if(place_name == ''){
      $('#place_name_alert').show()
      flag = 0;
    }
    else{
      $('#place_name_alert').hide()
      flag = 1;
    } 
    
    // 출발날짜 check
    if(startdate == ''){
      $('#startday_alert').show()
      flag = 0;
    }
    else{
      $('#startday_alert').hide()
      flag = 1;
    } 
    
    
    // 출발시간 check TODO 왜 디폴트가 2300으로 등러갈가요??? 저녁 11시에 놀러가는 사람 없겠죠??
    // alert("aa"+starttime);
    if(starttime == '2300'){
      // alert("aa"+starttime);
      $('#starttime_alert').show()
      flag = 0;
    }
    else{
      // alert("bb"+starttime); 
      $('#starttime_alert').hide()
      flag = 1;
    } 
 
     // 마감일 출발일 비교 check
    if(ddaydate == ''){
      $('#dday_dt_alert2').show()
      flag = 0;
    }
    else{
      $('#dday_dt_alert2').hide()
      flag = 1;
          if(startdate > ddaydate){
             $('#dday_dt_alert').show()
            flag = 0;
          }
          else{
             $('#dday_dt_alert').hide()
            flag = 1;
          } 
     }
 
    
    // 포인트 check 
    if(req_point == ''){
      $('#req_point_alert').show()
      flag = 0;
    }
    else{
      $('#req_point_alert').hide()
      flag = 1;
        if(req_point > my_point && req_point != ''){
             $('#req_point_alert2').show()
            flag = 0;
          }
          else{
             $('#req_point_alert2').hide()
            flag = 1;
          } 
    } 
    
    // 사유 check 
    if(point_rsn == ''){
      $('#point_rsn_alert').show()
      flag = 0;
    }
    else{
      $('#point_rsn_alert').hide()
      flag = 1;
    }
    
    
    // 내용 check 
    if(happyday_contents == ''){
      $('#happyday_contents_alert').show()
      flag = 0;
    }
    else{
      $('#happyday_contents_alert').hide()
      flag = 1;
    }
    
    
    if(flag == 0){
      //입력 내용이 완벽하지 않으면 false
      return false;
    }
    else{
      // 입력 내용이 완벽하면 true
      return true;
    }
 
  });
  
  
 
  //카테고리 드롭다운(등록,수정)
   $('.ui.dropdown').dropdown({
       maxSelections: 1
   });
  
  // 출발 날짜(등록,수정)
  $("[name=example2]").calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        var fullDate = year + month + day;
        var fullDateShow = year+'년 ' + month+'월 ' + day+'일 ';
        startdate = fullDate;
        return fullDateShow;
      }
    }
  });
  
   // 출발 시각(등록,수정)
   $("[name=example3]").calendar({
    type: 'time',
    formatter: {
      time: function (date, settings, forCalendar) {
        if (!date) return '';
        var hour = date.getHours().toString();
        hour = hour.length > 1 ? hour : '0' + hour;
        var minute = date.getMinutes().toString();
        minute = minute.length > 1 ? minute : '0' + minute;
        var time = hour + minute; 
        starttime = time;
        return hour+'시 ' +  minute+'분';
      }
    }
  });
  
  // 마감일(등록,수정)
  $("[name=example4]").calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        var fullDate = year + month + day;
        ddaydate = fullDate;
        return fullDate;
        }
      }
  });
});

</script>

</head>
<body>
  
  <!-- Navigation -->
<% include ./partials/navigation.ejs %>
  
<div>
	<button class="ui inverted red button" id='HappyDayRegist'>등록 </button>
</div>

<!--등록 모달start--> 
<div class="ui modal Regist">
<form id ="hdregmodal" class="ui segment form" action="/happyday_regist" method="post">
  <h3 class="ui left floated header">HappyDay Regist Page</h3>
  <div class="ui clearing divider"></div>
	<div class="content">
	  <div class="field">
  	  <div class="ui sub header">*해피데이 이름</div>
  			<input type="text" placeholder="<%= data.user_name %>님 입력해주세요." id="happyday_name" name="happyday_name">
  			<p id="happyday_name_alert" style="color:red">*해피데이 이름을 입력해 주세요</p>
  	</div> 
  	
  	<!--날짜합치기 히든-->
  	<input id="starthappyday" type="hidden"  name="starthappyday">
  	<!--날짜합치기 히든 end-->
  
    <div class="ui two column grid">
    <div class="column">
      <div class="ui sub header">*카테고리</div>
      <!--<div class="ui fluid multiple search selection dropdown"  style=" width: 100%;">-->
      <div class="ui multiple selection dropdown"  style=" width: 100%;">
        <input id="category_code" name="category_code" type="hidden" value="" style=" width: 100%;" readonly="true">
        
        <i class="dropdown icon"></i>
      <div class="default text" >Select</div>
      <div class="menu">
        <div class="item" data-value="스포츠관람">스포츠관람</div>
        <div class="item" data-value="2">야외활동</div>
        <div class="item" data-value="3">실내활동</div>
        <div class="item" data-value="4">영화,연극</div>
        <div class="item" data-value="5">문화체험</div>
      </div>
      </div>
      <p id="category_code_alert" style="color:red">*카테고리를 선택해 주세요</p>
    </div>
    <div class="column">
      <div class="ui sub header">*맴버수</div>
      <div class="ui selection dropdown"  style=" width: 100%;">
        <input type="hidden" id="num_participants" name="num_participants" style=" width: 100%;" readonly="true">
        <i class="dropdown icon"></i>
        <div class="default text"></div>
        <div class="menu">
          <div class="item" data-value="5">5명</div>
          <div class="item" data-value="6">6명</div>
          <div class="item" data-value="7">7명</div>
          <div class="item" data-value="8">8명</div>
          <div class="item" data-value="9">9명</div>
          <div class="item" data-value="10">10명</div>
        </div>
      </div>
      <p id="num_participants_alert" style="color:red">*맴버 수를 선택해 주세요</p>
    </div>
    </div>
    <br>
    <div class="field">
      <div class="ui sub header">이미지 링크</div>
      <div class="ui labeled input">
        <div class="ui label">
          http://
        </div>
        <input type="text" placeholder="mysite.com" name="img_url" id>
      </div>
    </div>
   
    <div class="field">
      <div class="ui sub header">*장소</div>	
    	<div class="ui right labeled left icon action input">
    		<i class="marker icon"></i>
    		<input type="text" placeholder="Search the location" id="place_name" name="place_name" >
    		
    		<div class="ui label"><i class="search icon"></i></div>
      </div>
      <p id="place_name_alert" style="color:red">*장소를 선택해 주세요</p>
    </div>
    
    <div class="ui two column grid">
    <div class="column">  
      <div class="ui two column grid">
      
      <div class="column">
        <div class="ui sub header">*출발 날짜</div>
        <div class="ui calendar" name="example2">
          <div class="ui input left icon" style=" width: 100%;"> 
            <i class="calendar icon"></i>
            <input type="text" placeholder="Check the calendar" style=" width: 100%;" name="happyday_dt" readonly="true">
          </div>
        </div><!-- calendar -->
        <p id="startday_alert" style="color:red">*출발날짜를 선택해 주세요</p>
      </div><!-- column -->
      
      <div class="column">
        <div class="ui sub header">*출발 시각</div>
        <div class="ui calendar" name="example3">
          <div class="ui input left icon" style=" width: 100%;">
            <i class="time icon"></i>
            <input type="text" placeholder="Time" style=" width: 100%;" id="happyday_time" name="happyday_time" readonly="true">
          </div>
        </div>
        <p id="starttime_alert" style="color:red">*출발시간를 선택해 주세요</p>
      </div>
      
      
      </div>
    </div>
    
    <div class="column">
      <div class="ui sub header">*마감일</div>
      <div class="ui calendar" name="example4">
        <div class="ui input left icon" style=" width: 100%;">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date" style=" width: 100%;" id="dday_dt" name="dday_dt" readonly="true">
          
        </div>
        <p id="dday_dt_alert" style="color:red">*마감일이 출발일 보다 빠릅니다</p>
        <p id="dday_dt_alert2" style="color:red">*마감일을 선택 해 주세요</p>
      </div>
    </div>
    </div><!-- ui two column grid -->
  
    <div class="ui two column grid">
    <div class="column">
    	<div class="ui sub header">*차감포인트</div>	
      <div class="ui left icon input" style=" width: 100%;">
      	<input type="text" id="req_point" placeholder="2500" style=" width: 100%;" name="req_point">
      	<i class="won icon"></i>
      </div><!-- point -->
       <p id="req_point_alert" style="color:red">*차감포인트를 작성해 주세요</p>
       <p id="req_point_alert2" style="color:red">*보유한 포인트보다 소모 포인트가 많습니다</p>
    </div>
    <div class="column">
    	<div class="ui sub header">사유</div>
      <div class="ui input" style=" width: 100%;">
      	<input type="text" id="point_rsn" name="point_rsn" placeholder="사유를입력해주세요..." style=" width: 100%;" >
      </div><!-- point rsn-->
      <p id="point_rsn_alert" style="color:red">*사유를 작성해 주세요</p>
    </div>
    </div>
    <br>
    <div class="field">
  	  <div class="ui sub header">*해피데이 설명</div>	
  		<textarea  id="happyday_contents" style="width:100% ;height: 200px;" name="happyday_contents"></textarea>
  		<p id="happyday_contents_alert" style="color:red">*내용을 작성해 주세요</p>
    </div>
    
    <!--<div class="ui error message"></div>-->
  <div class="ui clearing divider"></div>
  <div class="actions">
    <div class="ui button" onClick=javascript:modalClose()>cancel</div>
    <button class="ui yellow submit button" id="submit" name="submit" >regist</button>
  </div><!-- actions -->
  
  </div><!-- content -->
</form>  

</div>

<!--등록모달end-->



</body>
</html>