<!DOCTYPE html>
<html>
<head>
  
<title>happy app</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<script type="text/javascript">

function showHdReg(){
                
                var popUrl = "../hdregpopup";	//팝업창에 출력될 페이지 URL
                var popupX = (window.screen.width / 2) - (1200 / 2);
                // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
                var popupY= (window.screen.height /2) - (700 / 2);
                // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음

                window.open(popUrl, '', 'status=no, height=700, width=445, left='+ popupX + ', top='+ popupY + ', screenX='+ popupX + ', screenY= '+ popupY);

        }

</script>

</head>
<body>
  
  <!-- Navigation -->
<% include ./partials/navigation.ejs %>
  
<div>
	<!--<button class="ui inverted red button" id='HappyDayRegist'>등록 </button>-->
	<button class="ui basic button" onclick="javascript:showHdReg()"> 
  
  등록 팝업
    </div>
	
</div>



</body>
</html>