<!DOCTYPE html>
<html>
<head>
<title>happy app</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script type="text/javascript">
  var startdate = '';
  var starttime = '';
  var ddaydate = '';
  //차감 포인트 컨트롤
  function pointControl(point){
    var val = $("#req_point_show").val();
    val *= 1; //string to int
    point *=1; // string to int
    
    if(val+point <= 8000 && val+point >=500){
      $("#req_point_show").val(val+point);  
    }
  }
   function showMap(){
                var popUrl = "../mappopup";	//팝업창에 출력될 페이지 URL
                var popupX = (window.screen.width / 2) - (1200 / 2);
                // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음
                var popupY= (window.screen.height /2) - (700 / 2);
                // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
                window.open(popUrl, '', 'status=no, height=500, width=600, left='+ popupX + ', top='+ popupY + ', screenX='+ popupX + ', screenY= '+ popupY);
               
        }
    function setLocationValue(title, point){
          // alert('주소 정상 호출 확인 '+title+' '+point);
          //경도 longitude
          //위도 latitude
          var global_point = point;
          //point 변수타입이 object라 문자열 자르기가 안되서 string으로 강제 캐스팅
          global_point += "";
          var locationArray= global_point.split(',');
          var latitude = locationArray[0].substring(1,locationArray[0].length);
          var longitude = locationArray[1].substring(0,locationArray[1].length-1);
          $("#place_name").val(title);   //지역 명
          $("#latitude").val(latitude);  // 위도
          $("#longitude").val(longitude);  //경도
        }
function Happdaygetdata() {
    var happyday_id = 205;
    $.ajax({
	     type: "post",
	     url : "/Happdaygetdata_KJY",
	     data: 
	     {
         happyID : happyday_id
       },
        success:function(data){   
          // alert(data.datas.num_participants);
          var start_date = data.datas.happyday_dt.substring(0,8);
          var start_hour = data.datas.happyday_dt.substring(8,10);
          var start_minute = data.datas.happyday_dt.substring(10,12);
          var start_time = start_hour+':'+start_minute;
          
        	$("#happyday_name_show").val(data.datas.happyday_name);
        	$("#happyday_category_show").val(data.datas.category_code).change();   
          $("#img_url_show").val(data.datas.img_url);
          $("#place_name_show").val(data.datas.place_name);
          $("#startdate_show").val(start_date);
          $("#starttime_show").val(start_time);
          $("[name='num_participants']").val(data.datas.num_participants).change();
          $("#dday_dt_show").val(data.datas.dday_dt);
          $("#req_point_show").val(data.datas.req_point);
          $("#happyday_contents_show").val(data.datas.happyday_contents);
          $("#point_rsn_show").val(data.datas.point_rsn);
        
          },
        error:function(e){  
            alert(e.responseText);  
        }  
     	});   
    }        
$(document).ready(function() {
  Happdaygetdata();
  //수정 모달에서 출발날짜+시간 합치기 ->히든타입, db에만 저장(수정)
  $('#happydayupdate').submit(function() {
    
    var happyday_name = $("#happyday_name_show").val(); //해피데이 네임
    var category_code = $("#category_code_show").val();
    var num_participants = $("#num_participants_show").val();
    
    var place_name = $("#place_name_show").val();
    var req_point = $("#req_point_show").val();     //해피데이 등록에 필요한 포인트
    var my_point = <%=session.happy_point %>   //보유한 해피데이 포인트
    var point_rsn = $("#point_rsn_show").val()
    var happyday_contents = $("#happyday_contents_show").val()
    //추가
    var ddaydate = $("#ddaydate_show").val()
    var startdate = $("#startdate_show").val()
    var starttime = $("#starttime_show").val()
    $('#starthappyday_update').val(startdate+starttime);
    
    //var flag = 1;
     var flag = 0; 
     
    // 해피데이 이름 check
    if(happyday_name == ''){
      $('#happyday_name_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      $('#happyday_name_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    }
    
    // 카테고리 check
    if(category_code == ''){
      $('#category_code_alert').css("visibility","visible");
     //flag = 0;
    }
    else{
      $('#category_code_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    }
    
    // 맴버수 check
    if(num_participants == ''){
      $('#num_participants_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      $('#num_participants_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    } 
    
     // 장소 check  
    if(place_name == ''){
      $('#place_name_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      $('#place_name_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    } 
    
    // 출발날짜 check
    if(startdate == ''){
      $('#startday_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      $('#startday_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    } 
    
    // 출발시간 check TODO 왜 디폴트가 2300으로 등러갈가요??? 저녁 11시에 놀러가는 사람 없겠죠??
    // alert("aa"+starttime);
    if(starttime == '2300'){
      // alert("aa"+starttime);
      $('#starttime_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      // alert("bb"+starttime); 
      $('#starttime_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    } 
 
     // 마감일 출발일 비교 check
    if(ddaydate == ''){
      $('#dday_dt_alert').css("visibility","visible").text("*마감일을 선택 해 주세요");
      //flag = 0;
    }
    else{
      flag = 1;
        if(startdate > ddaydate){
           $('#dday_dt_alert').css("visibility","visible").text("*마감일이 출발일 보다 빠릅니다");
          //flag = 0;
        }
        else{
           $('#dday_dt_alert').css("visibility","hidden");
          //flag = 1;
           flag = flag+1;
      } 
    }
  // 포인트 check   
    if(req_point == ''){
      $('#point_alert').css("visibility","visible").text("*차감포인트를 작성해 주세요");
      //flag = 1;
    }
    else{
      if(req_point > my_point){
        $('#point_alert').css("visibility","visible").text("*보유한 포인트보다 소모 포인트가 많습니다");
        //flag = 0;
      }
      else {
        $('#point_alert').css("visibility","hidden");
        //flag = 1;
         flag = flag+1;
      }        
    } 
    // 사유 check 
    if(point_rsn == ''){
      $('#point_rsn_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      $('#point_rsn_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    }
    
    
    // 내용 check 
    if(happyday_contents == ''){
      $('#happyday_contents_alert').css("visibility","visible");
      //flag = 0;
    }
    else{
      $('#happyday_contents_alert').css("visibility","hidden");
      //flag = 1;
       flag = flag+1;
    }
    
    
    if(flag <= 9){
      // 입력 내용이 완벽하면 true
      return true;
    }
    else{
      
      //입력 내용이 완벽하지 않으면 false
      return false;
    }
  });

  
  //카테고리 드롭다운(등록,수정)
   $('#multipleSelect').dropdown({ 
       maxSelections: 2
   });
    $('#select').dropdown({
   });
   
  
  // 출발 날짜(등록,수정)
  $("[name=example2]").calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        var fullDate = year + month + day;
        var fullDateShow = year+'년 ' + month+'월 ' + day+'일 ';
        startdate = fullDate;
        return fullDateShow;
      }
    }
  });
  
   // 출발 시각(등록,수정)
   $("[name=example3]").calendar({
    type: 'time',
    formatter: {
      time: function (date, settings, forCalendar) {
        if (!date) return '';
        var hour = date.getHours().toString();
        hour = hour.length > 1 ? hour : '0' + hour;
        var minute = date.getMinutes().toString();
        minute = minute.length > 1 ? minute : '0' + minute;
        var time = hour + minute; //DB
        starttime = time;
        return hour+'시 ' +  minute+'분';
      }
    }
  });
  
  // 마감일(등록,수정)
  $("[name=dday_dt]").calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        var fullDate = year + month + day;
        var ddaydate = year + month + day;
        return fullDate;
        }
      }
  });
});
</script>
<style type="text/css">
    .ui.multiple.selection.dropdown {
	    min-width: 20px;	/* 최소 너비 */
    }
    .ui.selection.dropdown {
    	min-width: 20px;	/* 최소 너비 */
    }
    .ui.two.column.grid {
        margin-bottom: -30px;
    }
    .p.validation{
        font-size: 11px;
    }
    .ui.sub.header{
        margin-top: 10px;
    }
    .ui.segment.form {
    background: #FBBD08;
	}
    .ui.yellow.submit.button {
    background: peru;
	}
	.ui.sub.header {
    	color:white;
	}
    /*마우스 올리면 손모양으로*/
    /*.ui.label*/
    /*{cursor: pointer;}*/
</style>
</head>
<body>
<form id="happydayupdate" class="ui segment form" action="/happyday_update" method="post">
	<h3 class="ui left floated header" style="color:white">HappyDay를 수정해 주세요</h3>
	<div class="ui clearing divider">
	</div>
	<div class="content">
		<div class="column">
			<div class="ui sub header">
				 *해피데이 이름
			</div>
			<input type="text" placeholder="<%=data.user_name %>님 입력해주세요." id="happyday_name_show" name="happyday_name">
			<p class="p validation" id="happyday_name_alert" style="color:red; visibility:hidden;">
				 *해피데이 이름을 입력해 주세요
			</p>
		</div>
		<!--날짜합치기 히든-->
		<input id="starthappyday_update" type="hidden" name="starthappyday">
		<!--날짜합치기 히든 end-->
		<div class="ui two column grid">
			<div class="column">
				<div class="ui sub header">
					 *카테고리
				</div>
				<div class="ui multiple selection dropdown" id="multipleSelect" style=" width: 100%;">
					<input id="happyday_category_show" name="category_code" type="hidden" value="" style=" width: 100%;" readonly="true">
					<i class="dropdown icon"></i>
					<div class="default text">
						 Select
					</div>
					<div class="menu">
						<div class="item" data-value="스포츠관람">
							 스포츠관람
						</div>
						<div class="item" data-value="야외활동">
							 야외활동
						</div>
						<div class="item" data-value="실내활동">
							 실내활동
						</div>
						<div class="item" data-value="영화,연극">
							 영화,연극
						</div>
						<div class="item" data-value="문화체험">
							 문화체험
						</div>
					</div>
				</div>
				<p class="p validation" id="category_code_alert" style="color:red; visibility:hidden;">
					 *카테고리를 선택해 주세요
				</p>
			</div>
			<div class="column">
				<div class="ui sub header">
					 *모집 정원
				</div>
				<div class="ui selection dropdown" id="select" style=" width: 100%;">
					<input type="hidden" id="num_participants" name="num_participants" style=" width: 100%;" readonly="true">
					<i class="dropdown icon"></i>
					<div class="default text">
					</div>
					<div class="menu">
						<div class="item" data-value="5">
							 5명
						</div>
						<div class="item" data-value="6">
							 6명
						</div>
						<div class="item" data-value="7">
							 7명
						</div>
						<div class="item" data-value="8">
							 8명
						</div>
						<div class="item" data-value="9">
							 9명
						</div>
						<div class="item" data-value="10">
							 10명
						</div>
					</div>
				</div>
				<p class="p validation" id="num_participants_alert" style="color:red; visibility:hidden;">
					 *모집 정원을 선택해 주세요
				</p>
			</div>
		</div>
		<br>
		<div class="field">
			<div class="ui sub header">
				 이미지 링크
			</div>
			<div class="ui labeled input">
				<div class="ui label" style="background:#A5673F; color:white">
					 http://
				</div>
				<input type="text" placeholder="mysite.com" name="img_url" id="img_url_show">
			</div>
		</div>
		<div class="field">
			<div class="ui sub header">
				 *장소
			</div>
			<div class="ui right labeled left icon action input">
				<i class="marker icon"></i>
				<input id="place_name_show" type="text" placeholder="Search the location" name="place_name" readonly="true">
				<div class="ui label" onclick="javascript:showMap()" style="background:#A5673F; color:white; cursor: pointer;">
					<i class="search icon"></i>
				</div>
			</div>
			<input id="latitude" name="place_latitude" type="hidden" value="위도 히든값으로 넘기자">
			<input id="longitude" name="place_longitude" type="hidden" value="경도 히든값으로 넘기자">
			<p class="p validation" id="place_name_alert" style="color:red; visibility:hidden;">
				 *장소를 선택해 주세요
			</p>
		</div>
		<div class="ui two column grid" style="margin-top: -30px">
				<div class="column">
					<div class="ui sub header">
						 *출발 날짜
					</div>
					<div class="ui calendar" name="example2">
						<div class="ui input left icon" style=" width: 100%;">
							<i class="calendar icon"></i>
							<input type="text" id="startdate_show" placeholder="Check the calendar" style=" width: 100%;" name="happyday_dt" readonly="true">
						</div>
					</div>
					<!-- calendar -->
					<p class="p validation" id="startday_alert" style="color:red; visibility:hidden;">
						 *출발날짜를 선택해 주세요
					</p>
				</div>
				<!-- column -->
				<div class="column">
					<div class="ui sub header">
						 *출발 시각
					</div>
					<div class="ui calendar" name="example3">
						<div class="ui input left icon" style=" width: 100%;">
							<i class="time icon"></i>
							<input type="text" id="starttime_show" placeholder="Time" style=" width: 100%;" id="happyday_time" name="happyday_time" readonly="true">
						</div>
					</div>
					<p class="p validation" id="starttime_alert" style="color:red; visibility:hidden;">
						 *출발시간를 선택해 주세요
					</p>
				</div>
			
		</div>
		<!--<br>-->
	<div class="ui two column grid" style="margin-top: -30px">
		<div class="column">
			<div class="ui sub header">
				 *마감일
			</div>
			<div class="ui calendar" name="example4">
				<div class="ui input left icon" style=" width: 100%;">
					<i class="calendar icon"></i>
					<input type="text" id="dday_dt_show" placeholder="Date" style=" width: 100%;" id="dday_dt" name="dday_dt" readonly="true">
					<input type="hidden" placeholder="Date" style=" width: 100%;" id="HappyDDay" name="HappyDDay" readonly="true">
					
				</div>
				<p class="p validation" id="dday_dt_alert" style="color:red; visibility:hidden;">
				  *edddd
				</p>
			</div>
		</div>
		<div class="column">
			<div class="ui sub header">
				 *차감포인트
			</div>
			<div class="ui right icon input" style=" width: 100%;">
				<input type="text" id="req_point_show" placeholder="포인를 입력 해 주세요" style=" width: 100%;" name="req_point">
				
				<i class="icon" style="width: 10%;">
			    <div>
			      <i class="chevron up icon" onclick="javascript:pointControl(500)"></i>
			    </div>
			    <div>
			      <i class="chevron down icon" onclick="javascript:pointControl(-500)"></i>
			    </div>
			  </i>
			</input>
			</div>
			<i class="won icon"></i>
			
			
			
			<p class="p validation" id="point_alert" style="color:red; visibility:hidden;">
			</p>
		</div>
	</div>	
<!--	<div class="column">
		<div class="ui sub header">
			 *참가 포인트 상세 내역
		</div>
		<div class="ui input" style=" width: 100%;">
			<input type="text" id="point_rsn_show" name="point_rsn" placeholder="사유를입력해주세요..." style=" width: 100%;">
		</div>
		<p class="p validation" id="point_rsn_alert" style="color:red; visibility:hidden;">
			 *상세 내역을 작성해 주세요
		</p>
	</div>-->
		
		<div class="field">
			<div class="ui sub header">
				 *활동 내용
			</div>
			<textarea id="happyday_contents_show" style="width:100% ;height: 200px; resize:none" name="happyday_contents" maxlength="700"></textarea>
			<p class="p validation" id="happyday_contents_alert" style="color:red; visibility:hidden;">
				 *활동 내용을 작성해 주세요
			</p>
		</div>
		<!--<div class="ui error message"></div>-->
		<div class="ui clearing divider">
		</div>
		<div class="actions">
			<div class="ui button" style="color:white; background:dimgrey" onclick=onclick="javascript:window.close()">
				 취소
			</div>
			<button class="ui submit button" id="submit" name="submit" style="background:#A5673F; color:white">등록</button>
		</div>
		<!-- actions -->
	</div>
	<!-- content -->
</form>
</body>
</html>