<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  
  <!-- happyapp css -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/dist/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />
	
  <!--<title>MOBIG - Big Data Market</title>-->
  <title>index.ejs</title>
  
</head>

<body class="text-center">
  
	<!-- Navigation -->
	<% include ./partials/navigation.ejs %>
  
  <!--cover-->
  <div class="cover d-flex align-items-center py-5 body-bg" id="cover">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-md-left align-self-center my-5">
            <h1 class="text-primary display-1">MOBIG</h1>
            <h4 class="text-primary">Mobile-Big Data Market</h4>
            <div class="row mt-5">
              <%if(session.user_id == null || session.user_id == ""){%>
              <% } else { %>
                  <div class="col-md-6">
                    <a class="btn btn-danger btn-block" href="mvno/mvnomain"> Start MOBIG </a>
                  </div>
                  <!--<div class="col-md-6">-->
                  <!--  <a class="btn btn-danger btn-block" href="etc/etcmain">Get Etc Data </a>-->
                  <!--</div>-->
              <% } %>
            </div>
          </div>
        <div class="col-md-6">
            <img class="img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/app/iphone_cover.png"> </div>
        </div>
      </div>
  </div>
 
  <div class="section py-5 text-md-left bg-primary" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7 push-md-5 my-3 align-self-center">
          <h2 class="my-3">What is "MOBIG"?</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. </p>
          <a href="features.html" class="btn btn-outline-secondary btn-lg">Learn more</a>
        </div>
        <div class="col-md-5 pull-md-7 my-3">
          <img src=http://blog.ant-holdings.com/wp-content/uploads/2015/09/%EB%89%B4%EC%8A%A4%EB%A0%88%ED%84%B0_201_%EC%B9%BC%EB%9F%BC_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0.jpg class="img-fluid d-block mx-auto"> 
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 text-left">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center my-3">
          <h2 class="text-primary my-3">Works everywhere</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. </p>
          <a href="#download" class="btn btn-outline-primary btn-lg">Download</a>
        </div>
        <div class="col-md-6 my-3">
          <img src="https://pingendo.github.io/templates/app/iphone_ipad.png" class="img-fluid d-block mx-auto"> </div>
      </div>
    </div>
  </div>
  
  <div class="section py-5 text-md-left bg-primary" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-7 push-md-5 my-3 align-self-center">
          <h2 class="my-3">What is "MOBIG"?</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. </p>
          <a href="features.html" class="btn btn-outline-secondary btn-lg">Learn more</a>
        </div>
        <div class="col-md-5 pull-md-7 my-3">
          <img src="" class="img-fluid d-block mx-auto"> </div>
      </div>
    </div>
  </div>
  
  <div class="pt-5 bg-light" id="speakers" style="padding-bottom: 63px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mb-4">Developer</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-6">
            <a href="speaker.html">
              <img src="https://pingendo.github.io/templates/events/people_2.jpg" class="center-block img-fluid my-3 rounded-circle">
              <h3>Anna da Vinci</h3>
              <p class="text-gray-dark">UI designer</p>
            </a>
          </div>
          <div class="col-md-4 col-6">
            <a href="speaker.html">
              <img src="https://pingendo.github.io/templates/events/people_3.jpg" class="center-block img-fluid my-3 rounded-circle">
              <h3 class="">Matthew Jong</h3>
              <p class="text-gray-dark">UX/UI designer</p>
            </a>
          </div>
          <div class="col-md-4 col-6">
            <a href="speaker.html">
              <img src="https://pingendo.github.io/templates/events/people_1.jpg" class="center-block img-fluid my-3 rounded-circle">
              <h3>Michael Philips</h3>
              <p class="text-gray-dark">UX designer</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-6">
            <a href="speaker.html">
              <img src="https://pingendo.github.io/templates/events/people_4.jpg" class="center-block img-fluid my-3 rounded-circle">
              <h3>John Morgan</h3>
              <p class="text-gray-dark">Bootstrap evangelist</p>
            </a>
          </div>
          <div class="col-md-4 col-6">
            <a href="speaker.html">
              <img src="https://pingendo.github.io/templates/events/people_5.jpg" class="center-block img-fluid my-3 rounded-circle">
              <h3>Emily Wang</h3>
              <p class="text-gray-dark">Front-end developer</p>
            </a>
          </div>
          <div class="col-md-4 col-6 mask">
            <a href="speaker.html">
              <img src="https://pingendo.github.io/templates/events/people_6.jpg" class="center-block img-fluid my-3 rounded-circle">
              <h3>Marcus Potter</h3>
              <p class="text-gray-dark">Front-end developer</p>
            </a>
          </div>
        </div>
      </div>
  </div>

	<!-- footer -->
	<% include ./partials/footer.ejs %>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
</body>

</html>