<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type="text/javascript">
      function login() {
        var user_name = document.getElementById("user_name");
        var emp_num = document.getElementById("emp_num");
        
        console.log("start login : " + user_name.value + " / " + emp_num.value);
        
        if(user_name.value == "") {
          alert("이름을 입력하세요");
          user_name.focus();
        }else if(emp_num.value == "") {
          alert("사번을 입력하세요");
          emp_num.focus();
        }else {
          document.loginForm.submit();
        }
      }
      
    </script>
    
  </head>
  <body>
    <h2><%=title %></h2>
    <div class="ui one column middle aligned very relaxed stackable grid">
      <form name="loginForm" action="/login" method="post">
        <div class="column">
          <div class="ui form">
            <div class="field">
              <label>이름</label>
              <div class="ui left icon input">
                <input type="text" placeholder="Username" id="user_name" name="user_name" value="이종원">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label>사번</label>
              <div class="ui left icon input">
                <input type="password" id="emp_num" name="emp_num" value="07230">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="ui blue submit button" onClick=login()>Login</div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>