<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type="text/javascript">
      function login() {
        log.console("start login");
      }
      
    </script>
    
  </head>
  <body>
    <div class="ui one column middle aligned very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>이름</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Username" id="user_nm">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>사번</label>
            <div class="ui left icon input">
              <input type="password" id="emp_num">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui blue submit button" onClick=login()>Login</div>
        </div>
      </div>
    </div>
  </body>
</html>