<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
        <label>Username : <%=user_num%></label>
      </div>
      <div class="center aligned column">
        <label>phone number : <%=phone_number%></label>
      </div>
    </div>
  </body>
</html>