<!DOCTYPE html>
<html>
  <head>
    <title>Happy App</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../dist/semantic.min.js"></script>
    
    <script src="../javascript/bootstrap.min.js"></script>
    <script src="../javascript/jquery.js"></script>
    
    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Semantic ui CSS -->
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />
    <!-- Custom CSS -->
    <link href="../stylesheets/common.css" rel="stylesheet">
    
    <script style="text/javascript">
    $(document)
      .ready(function() {
        user_name = document.getElementById("user_name");
        user_name.style.disable = true;
        
        
      });
    </script>
    
  </head>
  <body>
    <% include ./partials/navigation.ejs %>
    
    <div class="ui inverted segment">
      <div class="ui inverted form">
        <div class="two fields">
          <div class="field">
            <label>이름</label>
            <input type="text" id="user_name" value=<%=data.user_name%>>
          </div>
          <div class="field">
            <label>사번</label>
            <input type="text" id="emp_num"  value=<%=data.emp_num%>>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to the terms and conditions</label>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>