<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  
  <!-- happyapp css -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/dist/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css" />
	
  <!--<title>MOBIG - Big Data Market</title>-->
  <title>myaccount.ejs</title>
  
  <script type="text/javascript">
  
  </script>

  
</head>

<body class="text-center">
  
	<!-- Navigation -->
	<% include ../partials/navigation.ejs %>


  <!-- 1.데이터생성이력 -->
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Data history</h3>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 2. 사용자관리기능 -->
  <div class="text-center bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h3>User info</h3>
        </div>
      </div>
    </div>
  </div>


  <!--margin-->
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>

    <!-- footer -->
    <% include ../partials/footer.ejs %>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
    <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
</body>

</html>