<div>
    <p>
        <h3>안녕하세요~ 2BHAPPY입니다
        <h3>이번에 참가 신청하신 '{{happyday_name}}'이/가 등록 취소되었습니다.</h3>
        <h3>참가 신청에 사용한 포인트는 반환되었습니다.</h3>
        <h3>다음에 더 좋은 해피데이 활동으로 참여 부탁드립니다:)</h3>
        <h3>감사합니다~</h3>
    </p>
</div>